@font-face { /* title */
  font-family: "Digital geometric";
  src: url("fonts/digital-geometric.otf");
}
@font-face { /* text */
  font-family: "Varela Round";
  src: url("fonts/VarelaRound-Regular.ttf");
}
/* -------------------------------------------------------------------------- */
/*                                  RESET CSS                                 */
/* -------------------------------------------------------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  line-height: 1;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: inherit;
}

ol, ul, li {
  list-style: none;
}

a {
  color: unset;
  text-decoration: none;
}

button {
  background: unset;
  border: none;
  cursor: pointer;
}

/* -------------------------------------------------------------------------- */
/*                                   MOBILE                                   */
/* -------------------------------------------------------------------------- */
/* --------------------------------- GENERAL -------------------------------- */
body {
  background-color: #1e1e1e;
  overflow: hidden;
  color: #efefef;
  font-family: "Varela Round";
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  height: 100dvh;
}
body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(5);
  z-index: -1;
  background: #1e1e1e;
  background: linear-gradient(45deg, #C1292E, #350363, #118dd0);
  background-repeat: repeat;
  background-size: 400% 400%;
  animation: gradient 30s linear infinite;
}

.hidden { /* for all element that need to be present in dom but invisible for accessibility */
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  margin: -1px;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

img {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.title {
  font-family: "Digital geometric";
  font-size: 3rem;
}

.subtitle {
  font-size: 2rem;
}

.links-hover > * {
  cursor: pointer;
  transition: 300ms;
}
.links-hover > *:not(hr):hover {
  transform: translateY(-0.08em) scale(1.1);
  text-shadow: 0 0.15em 0.3em #1e1e1e;
}

.back {
  position: absolute;
  top: 4rem;
  left: 2rem;
  font-size: 1.8rem;
  transition: 300ms;
}
.back:hover {
  transform: rotate(-5deg) scale(1.05) translateX(-0.08rem);
}

.btn {
  font-size: 1.5rem;
  background-color: rgba(239, 239, 239, 0.1254901961);
  padding: 0.7em 2em;
  border-radius: 0.4em;
  border: 1px solid rgba(239, 239, 239, 0.3764705882);
  transition: 300ms;
}
.btn:hover {
  color: #1e1e1e;
  border: 1px solid #1e1e1e;
  background-color: rgba(239, 239, 239, 0.5019607843);
  transform: scale(1.05);
  letter-spacing: 0.002em;
}

/* -------------------------------------------------------------------------- */
/*                                   MOBILE                                   */
/* -------------------------------------------------------------------------- */
.content {
  text-align: center;
  display: grid;
  gap: 3rem;
  justify-items: center;
  align-items: center;
  transition: 300ms;
  z-index: 2;
}
.content.invisible {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  z-index: -10;
}

#card-main {
  grid-template-rows: 2fr 1fr 1fr;
}
#card-main .title-container > *:nth-child(2) {
  margin-top: 1em;
}
#card-main .socials {
  display: flex;
  width: 100%;
  justify-content: space-around;
  font-size: 2rem;
}

#card-projects {
  padding-top: 5rem;
  grid-template-rows: 1fr 1fr;
}
#card-projects .projects-list {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
#card-projects .projects-list hr {
  width: 80%;
  height: 2px;
  border-radius: 1px;
  background-color: rgba(239, 239, 239, 0.6666666667);
  margin: 0.2em auto;
  cursor: default;
}

/* -------------------------------------------------------------------------- */
/*                                   DESKTOP                                  */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 768px) {
  .content {
    position: relative;
    background-color: rgba(30, 30, 30, 0.3137254902);
    border: 1.5px solid rgba(30, 30, 30, 0.7333333333);
    padding: 4rem 3rem;
    border-radius: 0.4em;
  }
  .content > * {
    z-index: 3;
  }
  .content::before { /* fancy hover animations w/ JS */
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: radial-gradient(60rem at var(--mouse-x, 0) var(--mouse-y, 0), rgba(255, 255, 255, 0.0196078431), transparent 40%);
    border-radius: inherit;
    transition: opacity 300ms ease-in-out;
    opacity: 0;
  }
  .content:hover::before {
    opacity: 1;
  }
  .back {
    top: 1rem;
    left: 1rem;
  }
}
@keyframes gradient { /* background animation */
  0% {
    transform: rotate(120deg) scale(5);
    background-position: 0% 20%;
  }
  50% {
    transform: rotate(240deg) scale(5);
    background-position: 100% 50%;
  }
  100% {
    transform: rotate(360deg) scale(5);
    background-position: 0% 20%;
  }
}/*# sourceMappingURL=style.css.map */