@use "sass:color"; // for color function (fade-out)
@font-face { /* title */
    font-family: "Digital geometric";
    src: url("fonts/digital-geometric.otf");
}
@font-face { /* text */
    font-family: "Varela Round";
    src: url("fonts/VarelaRound-Regular.ttf");
}

$radius: 0.4em;
$v-padding: 4rem;
$transition-duration: 300ms;

/* -------------------------------------------------------------------------- */
/*                                  RESET CSS                                 */
/* -------------------------------------------------------------------------- */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	line-height: 1;
    appearance: none;
    color: inherit;
}

ol, ul, li {
	list-style: none;
}

a {
    color: unset;
    text-decoration: none;
}

button {
    background: unset;
    border: none;
    cursor: pointer;
}

/* -------------------------------------------------------------------------- */
/*                                   MOBILE                                   */
/* -------------------------------------------------------------------------- */

/* --------------------------------- GENERAL -------------------------------- */
body {
    background-color: #1e1e1e;
    overflow: hidden;
    color: #efefef;
    font-family: 'Varela Round';
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    height: 100dvh;
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        transform: scale(5);
        z-index: -1;
        background: #1e1e1e; //fallback
        background: linear-gradient(45deg, #C1292E, #350363, #118dd0);
        background-repeat: repeat;
        background-size: 400% 400%;
        animation: gradient 30s linear infinite;
    }
}

.hidden { /* for all element that need to be present in dom but invisible for accessibility */
    border: 0;
    clip: rect(1px,1px,1px,1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

.title {
    font-family: "Digital geometric";
    font-size: 3rem;
}
.subtitle {
    // font-family: "Digital geometric";
    font-size: 2rem;
}

.links-hover > * {
    cursor: pointer;
    transition: $transition-duration;
    &:not(hr):hover {
        transform: translateY(-0.08em) scale(1.1);
        text-shadow: 0 0.15em 0.3em #1e1e1e;
    }
}

.back {
    position: absolute;
    top: 4rem;
    left: 2rem;
    font-size: 1.8rem;
    transition: $transition-duration;
    &:hover {
        transform: rotate(-5deg) scale(1.05) translateX(-0.08rem);
    }
}

.btn {
    font-size: 1.5rem;
    background-color: #efefef20;
    padding: 0.7em 2em;
    border-radius: $radius;
    border: 1px solid #efefef60;
    transition: $transition-duration;
    &:hover {
        color: #1e1e1e;
        border: 1px solid #1e1e1e;
        background-color: #efefef80;
        transform: scale(1.05);
        letter-spacing: 0.002em;
    }
}

/* -------------------------------------------------------------------------- */
/*                                   MOBILE                                   */
/* -------------------------------------------------------------------------- */
.content {
    text-align: center;
    display: grid;
    gap: 3rem;
    justify-items: center;
    align-items: center;
    transition: $transition-duration;
    z-index: 2;
    &.invisible {
        opacity: 0;
        position: absolute;
        pointer-events: none;
        z-index: -10;
    }
}
#card-main {
    grid-template-rows: 2fr 1fr 1fr;
    .title-container > *:nth-child(2) {
        margin-top: 1em;
    }
    
    .socials {
        display: flex;
        width: 100%;
        justify-content: space-around;
        font-size: 2rem;
    }
}


#card-projects {
    padding-top: $v-padding+1rem;
    grid-template-rows: 1fr 1fr;
    .projects-list {
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
        gap: 1em;
        hr {
            width: 80%;
            height: 2px;
            border-radius: 1px;
            background-color: #efefefaa;
            margin: 0.2em auto;
            cursor: default;
        }
    }
}

.cp {
    position: absolute;
    bottom: 0.5em;
    right: 1em;
    color: #efefef99;
}


/* -------------------------------------------------------------------------- */
/*                                   DESKTOP                                  */
/* -------------------------------------------------------------------------- */

@media screen and (min-width: 768px) {
    .content {
        position: relative;
        background-color: #1e1e1e50;
        border: 1.5px solid #1e1e1eBB;
        padding: $v-padding 3rem;
        border-radius: $radius;
        & > * {
            z-index: 3;
        }
        &::before { /* fancy hover animations w/ JS */
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background: radial-gradient( /* radial gradient move following mouse */
                60rem
                at var(--mouse-x, 0) var(--mouse-y, 0),
                #ffffff05,
                transparent 40%
            );
            border-radius: inherit;
            transition: opacity $transition-duration ease-in-out;
            opacity: 0;
        }
        &:hover::before {
            opacity: 1;
        }
    }
    .back {
        top: 1rem;
        left: 1rem;
    }
}


@keyframes gradient { /* background animation */
	0% {
        transform: rotate(120deg) scale(5);
		background-position: 0% 20%;
	}
	50% {
        transform: rotate(240deg) scale(5);
		background-position: 100% 50%;
	}
	100% {
        transform: rotate(360deg) scale(5);
		background-position: 0% 20%;
	}
}