@font-face { /* title */
  font-family: "Digital geometric";
  src: url("../assets/fonts/digital-geometric.otf");
}
@font-face { /* text */
  font-family: "Varela Round";
  src: url("../assets/fonts/VarelaRound-Regular.ttf");
}
/* -------------------------------------------------------------------------- */
/*                                  RESET CSS                                 */
/* -------------------------------------------------------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  line-height: 1;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: inherit;
}

ol, ul, li {
  list-style: none;
}

a {
  color: unset;
  text-decoration: none;
}

button {
  background: unset;
  border: none;
  cursor: pointer;
}

/* -------------------------------------------------------------------------- */
/*                                   MOBILE                                   */
/* -------------------------------------------------------------------------- */
/* --------------------------------- GENERAL -------------------------------- */
body {
  background-color: #1e1e1e;
  overflow: hidden;
  color: #efefef;
  font-family: "Varela Round";
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  height: 100dvh;
}
body::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  transform: scale(5);
  z-index: -1;
  background: #1e1e1e;
  background: linear-gradient(45deg, #C1292E, #350363, #118dd0);
  background-repeat: repeat;
  background-size: 400% 400%;
  animation: gradient 30s linear infinite;
}

.hidden { /* for all element that need to be present in dom but invisible for accessibility */
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  margin: -1px;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.title {
  font-family: "Digital geometric";
  font-size: 3rem;
}

.subtitle {
  font-size: 2rem;
}
.subtitle.black {
  color: #1e1e1e;
}

.btn {
  font-size: 1.5rem;
  background-color: rgba(239, 239, 239, 0.1254901961);
  padding: 0.7em 2em;
  border-radius: 0.4em;
  border: 1px solid rgba(239, 239, 239, 0.3764705882);
  transition: 300ms;
}
.btn.black {
  background-color: rgba(30, 30, 30, 0.4392156863);
  border-color: rgba(30, 30, 30, 0.6666666667);
}
.btn:hover {
  color: #1e1e1e;
  border: 1px solid #1e1e1e;
  background-color: rgba(239, 239, 239, 0.5019607843);
  transform: scale(1.05);
  letter-spacing: 0.002em;
}

.cp {
  position: fixed;
  bottom: 0.5em;
  right: 1em;
  color: rgba(239, 239, 239, 0.6);
}

.back {
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-size: 1.8rem;
  transition: 300ms;
}
.back:hover {
  transform: scale(1.05) translateX(-0.08rem);
}

/* ----------------------------- PAGES SPECIFIC ----------------------------- */
.content {
  text-align: center;
  display: grid;
  gap: 3rem;
  justify-items: center;
  align-items: center;
  transition: 300ms;
  margin: 0 4vw;
}
.content > * {
  z-index: 3;
}
.content.invisible {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  z-index: -10;
}

#card-main {
  grid-template-rows: 2fr 1fr 1fr;
}
#card-main .title-container > *:nth-child(2) {
  margin-top: 1em;
}
#card-main .socials {
  display: flex;
  width: 100%;
  justify-content: space-around;
  font-size: 2rem;
}

#card-projects {
  width: 50rem;
  max-width: 90vh;
  grid-template-rows: 1fr 3fr;
}

/* -------------------------------- CAROUSSEL ------------------------------- */
.caroussel {
  position: relative;
  aspect-ratio: 16/10;
  width: 100%;
  overflow: hidden;
  border-radius: 0.4em;
}

.caroussel-content > * {
  position: absolute;
  width: 100%;
  height: 100%;
}
.caroussel-content > .hidden-slide {
  animation: hide-slide 300ms forwards;
}
.caroussel-content > .active {
  animation: display-slide 300ms forwards;
}
.caroussel-content img, .caroussel-content video {
  position: absolute;
  left: 0;
  height: 100%;
  opacity: 0.6;
  transition: transform 300ms ease-in-out;
  filter: blur(3px);
}
.caroussel-content:hover video, .caroussel-content:hover img {
  transform: scale(1.15);
  filter: blur(6px);
}
.caroussel-content:hover .text {
  background-color: rgba(30, 30, 30, 0.5019607843);
}
.caroussel-content:hover .text.black-txt {
  background-color: rgba(239, 239, 239, 0.5019607843);
  filter: none;
}
.caroussel-content .text {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;
  background-color: rgba(30, 30, 30, 0.2509803922);
  filter: drop-shadow(5px 5px 5px #1e1e1e);
  transition: background-color 300ms ease-in-out;
}
.caroussel-content .text.black-txt {
  background-color: rgba(239, 239, 239, 0.1882352941);
  filter: drop-shadow(5px 5px 5px rgba(239, 239, 239, 0.5647058824));
}
.caroussel-content .text .subtitle {
  font-size: 8vw;
}
.caroussel-content .text .btn {
  font-size: 6vw;
}

/* NAVIGATION */
.controls {
  position: absolute;
  bottom: 1.5em;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  display: flex;
  gap: 1em;
  font-size: 1.5rem;
}
.controls button {
  text-shadow: 3px 3px 4px rgba(30, 30, 30, 0.6);
  transition: 300ms;
}
.controls button:hover {
  transform: scale(1.1);
}

.auto > * {
  display: none;
}

.auto[data-state=play] > #pause {
  display: flex;
}

.auto[data-state=pause] > #play {
  display: flex;
}

.progress {
  position: absolute;
  bottom: 0.2em;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 3;
  display: flex;
  gap: 1em;
}
.progress .dot {
  font-size: 0.8rem;
  cursor: pointer;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  border: 0.15em solid #efefef;
}
.progress .active {
  background-color: #efefef;
}

/* -------------------------------------------------------------------------- */
/*                                   DESKTOP                                  */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 768px) {
  .content {
    position: relative;
    padding: 3rem 2rem;
    background-color: rgba(30, 30, 30, 0.3137254902);
    border-radius: 0.4em;
    border: 1.5px solid rgba(30, 30, 30, 0.7333333333);
  }
  .content::before { /* fancy hover animations w/ JS */
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: radial-gradient(60rem at var(--mouse-x, 0) var(--mouse-y, 0), rgba(255, 255, 255, 0.0235294118), transparent 40%);
    border-radius: inherit;
    transition: opacity 300ms ease-in-out;
    opacity: 0;
  }
  .content:hover::before {
    opacity: 1;
  }
  .back {
    top: 1rem;
    left: 1rem;
  }
  .caroussel-content .text .subtitle {
    font-size: 2.8rem;
  }
  .caroussel-content .text .btn {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 350px) {
  .content {
    margin: 0;
  }
}
/* -------------------------------------------------------------------------- */
/*                                 ANIMATIONS                                 */
/* -------------------------------------------------------------------------- */
@keyframes gradient { /* background animation */
  0% {
    transform: rotate(120deg) scale(5);
    background-position: 0% 20%;
  }
  50% {
    transform: rotate(240deg) scale(5);
    background-position: 100% 50%;
  }
  100% {
    transform: rotate(360deg) scale(5);
    background-position: 0% 20%;
  }
}
/* CAROUSSEL ANNIMATION */
@keyframes hide-slide {
  0% {
    opacity: 1;
    display: block;
  }
  99% {
    opacity: 1;
    display: block;
  }
  100% {
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    display: none;
  }
}
@keyframes display-slide {
  0% {
    opacity: 0;
    display: none;
  }
  1% {
    opacity: 0;
    display: block;
  }
  100% {
    opacity: 1;
    display: block;
  }
}/*# sourceMappingURL=style.css.map */